body {
    font-family: Arial;
}
.cabecera {
    background: linear-gradient(90deg, #fff650, #e3ff47);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}